@using GoonListados.Models
@model List<GoonListados.Models.DataItem>


@{
    ViewBag.Title = "Buses";
}


@Html.Partial("~/Views/Shared/_Filter.cshtml")

<div class="card mb-3">


    <div class="card-header">
        <i class="fas fa-table"></i>
        Ejemplo tabla @ViewBag.Title
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>

                <tbody>

                    @{ var index = 1; }

                    @foreach (DataItem _item in Model)
                    {
                        <tr>
                            <td>@_item.datos1</td>
                            <td>@_item.datos2</td>
                            <td>@_item.datos3</td>
                            <td>@_item.datos4</td>
                            <td>@_item.datos5</td>
                            <td>@_item.datos6</td>
                            <td>
                                @Html.ActionLink("Ver", "Ver", "Buses", new { id = index }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>